.workers{
  padding: 0 50px;
  button{
    width: 150px;
    height: 40px;
    background: green;
    color: white;
    border-radius: 6px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
  }
  table{
    border-collapse: collapse;
    tr{
      border: 1px solid black;
      th{
        padding: 10px;
        background: gray;
        color: white;
        border: 1px solid black;
      }
      td{
        text-align: left;
        padding: 10px;
        border: 1px solid black;
        &.yes{
          background: green;
          color: white;
        }
        &.no{
          background: red;
          color: white;
        }
      }
    }
  }
}