.tasks{
  padding: 0 50px;
  .head{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 40px;
    h1{
      margin: 0;
    }
    button{
      width: 150px;
      height: 40px;
      background: green;
      color: white;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }
    select{
      width: 200px;
      height: 40px;
      padding: 0 10px;
      outline: none ;
    }
  }
  table{
    border-collapse: collapse;
    tr{
      border: 1px solid black;
      th{
        padding: 10px;
        background: gray;
        color: white;
        border: 1px solid black;
      }
      td{
        text-align: left;
        padding: 10px;
        border: 1px solid black;
        &.frontend{
          background: orange;
          color: white;
        }
        &.backend{
          background: green;
          color: white;
        }
        &.design{
          background: purple;
          color: white;
        }
        &.analytics{
          background: darkblue;
          color: white;
        }
        &.testing{
          background: red;
          color: white;
        }

      }
    }
  }
}