.tasks{
  padding: 0 50px;
  .head{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    gap: 40px;
    h1{
      margin: 0;
    }
    button{
      width: 150px;
      height: 40px;
      background: green;
      color: white;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }
    li{
      list-style: none;
      text-decoration: underline;
      margin-top: 10px;
      cursor: pointer;
    }
    .filters{
      margin-top: 30px;
      position: absolute;
      left: 50px;
      top: 140px;
      z-index: 100;
      display: flex;
      align-items: flex-start;
      .filtration{
        display: flex;
        align-items: center;
        padding: 10px;
        .filter{
          display: none;
          pointer-events: all;
          background: wheat;
          p{
            margin: 0;
            margin-bottom: 10px;
          }
          select{
            width: 200px;
            height: 40px;
            padding: 0 10px;
            outline: none ;
            z-index: 100;
            &.active{
              opacity: 100;
              pointer-events: all;
            }
          }
        }
        .active{
          opacity: 100;
          pointer-events: all;
          background: wheat;
          padding: 10px;
          display: flex;
          flex-direction: column;
          p{
            margin: 0;
            margin-bottom: 10px;
          }
          select{
            width: 200px;
            height: 40px;
            padding: 0 10px;
            outline: none ;
            z-index: 100;
            &.active{
              opacity: 100;
              pointer-events: all;
            }
          }
        }
      }
    }
  }
  table{
    border-collapse: collapse;
    tr{
      border: 1px solid black;
      th{
        padding: 10px;
        background: gray;
        color: white;
        border: 1px solid black;
      }
      td{
        text-align: left;
        padding: 10px;
        border: 1px solid black;
        &.frontend{
          background: orange;
          color: white;
        }
        &.backend{
          background: green;
          color: white;
        }
        &.design{
          background: purple;
          color: white;
        }
        &.analytics{
          background: darkblue;
          color: white;
        }
        &.testing{
          background: red;
          color: white;
        }

      }
    }
  }
}