.course{
  padding: 0 50px;

  button{
    width: 160px;
    height: 40px;
    background: greenyellow;
    border: 1px solid green;
    border-radius: 6px;
    cursor: pointer;
  }
  .progress{
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    .modules{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px;
      background: #f4f3f5;
      border-radius: 6px;
      button{
        width: 300px;
        height: 60px;
        cursor: pointer;
        background: none;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        text-align: left;
        padding-left: 20px;
        
        &.active{
          background: white;
        }

        &:hover{
          background: #fafafa;
        }
      }
    }
    .courses{
      margin-left: 50px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      .time{
        margin: 10px 0;
        width: 800px;
        cursor: pointer;
        border-bottom: 1px solid black;
        &:hover{
          color: green;
        }
        h3{
          font-size: 26px;
          font-weight: 400;
          margin: 0;
        }
        h4{
          font-weight: 300;
          margin: 10px x0;
        }
      }
    }
  }
}